<% present @section do |presenter| %>


<div class="section">
  <%= presenter.post %>
  <%= presenter.tags %>
  <%= presenter.actions :edit, :delete %>
  <%= presenter.content %>
  <%= presenter.actions :edit, :delete %>
</div>

<% end %>
